nav{
    max-width: 900px;
    margin: auto;
    background-color: lightgray;
    overflow: auto;
    border: thin solid;
    
}
nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0;
   
}
nav li{
    
     float: left;
     
}
nav a{
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 6px;
    width: 120px;
    display: block;
}
 nav a.etiket{
    background-color: dimgray;
    color: white;
}
nav a:hover:not(.etiket){
    background-color: black;
    color: white;
}